@import "cross/index";
@mixin el(
  $p: null,
  $pt: null,
  $pb: null,
  $pl: null,
  $pr: null,
  $m: null,
  $mt: null,
  $mb: null,
  $ml: null,
  $mr: null,
  $w: null,
  $w-min: null,
  $w-max: null,
  $h: null,
  $h-min: null,
  $h-max: null,
  $o-position: null,
  $color: null,
  $bg: null,
  $bgColor: null,
  $backface: null,
  $size: null,
  $weight: null,
  $ln-height: null,
  $ln-and-height: null,
  $b: null,
  $bt: null,
  $bb: null,
  $bl: null,
  $br: null,
  $top: null,
  $bottom: null,
  $left: null,
  $right: null,
  $shadow: null,
  $letter-sps: null,
  $word-sps: null,
  $opy: null,
  $ord: null,
  $object: null,
  $index: null,
  $indent: null,
  $radius: null,
  $style: null,
  $overflow: null,
  $float: null,
  $dsp: null,
  $crs: null,
  $vsb: null
) {
  padding: $p;
  padding-top: $pt;
  padding-bottom: $pb;
  padding-left: $pl;
  padding-right: $pr;
  margin: $m;
  margin-top: $mt;
  margin-bottom: $mb;
  margin-left: $ml;
  margin-right: $mr;
  border: $b;
  border-top: $bt;
  border-bottom: $bb;
  border-left: $bl;
  border-right: $br;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
  width: $w;
  min-width: $w-min;
  max-width: $w-max;
  height: $h;
  min-height: $h-min;
  max-height: $h-max;
  object-position: $o-position;
  color: $color;
  background: $bg;
  background-color: $bgColor;
  backface-visibility: $backface;
  border-radius: $radius;
  box-shadow: $shadow;
  opacity: $opy;
  order: $ord;
  z-index: $index;
  list-style: $style;
  overflow: $overflow;
  float: $float;
  display: $dsp;
  cursor: $crs;
  visibility: $vsb;
  @include object-fit($object);
}
