@import "./variables", "cross/select";

@mixin text(
  $align: null,
  $transform: null,
  $decoration: null,
  $justify: null,
  $overflow: null,
  $indent: null,
  $shadow: null,
  $color: null,
  $size: null,
  $font: null,
  $weight: null,
  $lnHeight: null,
  $lSpacing: null,
  $whSpace: null,
  $wBreak: null,
  $wSpacing: null,
  $wrap: null,
  $select: null
) {
  text-align: $align;
  text-transform: $transform;
  text-decoration: $decoration;
  text-justify: $justify;
  text-overflow: $overflow;
  text-indent: $indent;
  text-shadow: $shadow;
  color: $color;
  font-size: $size;
  font-family: $font;
  font-weight: $weight;
  line-height: $lnHeight;
  letter-spacing: $lSpacing;
  white-space: $whSpace;
  word-break: $wBreak;
  word-spacing: $wSpacing;
  word-wrap: $wrap;

  @include user-select($select);
}

h1,
.heading-1 {
  font-size: 1.5rem;
  @extend .primary-font-bold;
}

h2 {
  @include el($m: 0.75rem 0);
  @extend .primary-font-medium, .uppercase;
}
h4 {
  @extend .primary-font-medium, .small-text, .lighter-text, .uppercase;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}

.link-text {
  @include el($color: $primary-color);
  &:hover {
    @include el($color: $link-color);
  }
}
.lighter-text {
  @include el($color: $lighter-text-color);
}

.xs-text {
  font-size: 0.65rem;
}
.sm-text {
  font-size: 1.5rem;
  @include el($color: #c0c0c0);
}
.small-text {
  font-size: 0.8rem;
}
.smaller-text {
  font-size: 0.9rem;
}
.big-text {
  font-size: 2rem;
  @extend .primary-font-bold;
}

.bold-text {
  font-weight: bold;
}

.xl-text {
  font-size: 3.5rem;
}

.success-text {
  @include el($color: $primary-color);
}

.error-text {
  @include el($color: $error-color);
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.primary-font-bold {
  font-family: $primary-font;
  font-weight: bold;
}

.primary-font-regular {
  font-family: $primary-font;
  font-weight: normal;
}

.primary-font-light {
  font-family: $primary-font;
  font-weight: 300;
}

.primary-font-medium {
  font-family: $primary-font;
  font-weight: 500;
}
