@import "mixins/element", "mixins/flex", "mixins/mixins",
  "mixins/text", "mixins/variables";

$primary-color: #4567f4;
$gradient: linear-gradient(0deg, #4567f4, #3cd3ad);
$gradient-button: linear-gradient(45deg, #4567f4, #3cd3ad);
$secondary-color: #081828;

.about {
  @include el($mt: 3rem);

  .about-text {
    h1 {
      @include text($color: $primary-color);
    }
    h2 {
      @include text($color: $secondary-color, $wSpacing: 8px, $lnHeight: 1.5);
    }
    p {
      @include el($mt: 3rem);
      @include text($color: $secondary-color, $wSpacing: 8px, $lnHeight: 1.5);
    }
  }
  .about-img {
    img {
      @include el($w: 100%);
    }
  }
}
