@import "mixins/element", "mixins/flex", "mixins/font", "mixins/mixins",
  "mixins/text", "mixins/variables";

$primary-color: #4567f4;
$gradient: linear-gradient(0deg, #4567f4, #3cd3ad);
$gradient-button: linear-gradient(45deg, #4567f4, #3cd3ad);
$secondary-color: #606060;

.container {
  .auth-box {
    @include fx();
    @include flex($ai: c);
    @include el($m: auto, $mt: 3rem, $w: 100%, $radius: 5px);
    background: $gradient;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);

    .form-container {
      @include el($w: 45%, $p: 2rem, $bgColor: white);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      min-height: 27rem;
      @include fx();
      @include flex($ai: c);
      flex-direction: column;

      h2 {
        @include el($mb: 2rem);
        @include text(
          $color: $primary-color,
          $weight: bold,
          $align: center,
          $size: 35px
        );
      }
      label {
        @include text($color: $secondary-color, $size: 12px);
      }
      input {
        @include el(
          $w: 100%,
          $b: 1px solid #ededef,
          $radius: 3px,
          $p: 0.8rem 0,
          $mb: 1.2rem
        );

        @include text($indent: 20px);
        outline: none;
        &:focus {
          border-color: $primary-color;
        }
      }
      input::-webkit-input-placeholder {
        color: #c3c3c3;
      }
      button {
        @include el(
          $w: 100%,
          $b: none,
          $radius: 3px,
          $p: 1rem,
          $mt: 1rem,
          $crs: pointer
        );
        background: $gradient-button;
        outline: none;
        @include text($color: white, $size: 15px);
        &:hover {
          background: $gradient;
          color: white;
          transition: background-image 1s;
        }
      }
      .register-form {
        @include el($w: 80%, $h: 100%);
        @include flex($ai: c);
        flex-direction: column;

        .account-type {
          @include fx();
          @include flex($jc: sb);
          @include el($w: 100%, $crs: pointer);
          @include text($color: $primary-color);

          .register-applicant,
          .register-company {
            @include el($p: 1rem, $w: 7.8rem, $radius: 5px);
            @include text($align: center);
            transition: border-color 0.5s;
          }
          .register-applicant {
            @include text($color: white);

            background: $gradient-button;
          }
          .register-company {
            @include el($b: 1px solid #ededef);
          }
        }
        form {
          @include el($w: 100%);
          .applicant-form,
          .company-form {
            @include fx();
            @include flex($ai: c);
            flex-direction: column;
            @include el($w: 100%);
          }
          .company-form {
            @include el($dsp: none);
          }
        }
      }
      .login-form {
        @include el($w: 80%);
        @include flex($ai: c);
        flex-direction: column;
        form {
          @include el($w: 100%);
          a {
            @include text($decoration: none);
            .forgot-password {
              @include fx();
              @include flex($jc: c);
              @include el($mt: 1rem, $crs: pointer);
              @include text(
                $size: 12px,
                $color: $primary-color,
                $decoration: none
              );
            }
          }
        }
      }

      .forgot-form,
      .reset-form {
        @include el($w: 80%);
        @include flex($ai: c);
        flex-direction: column;
        form {
          @include el($w: 100%);
        }
      }
    }
    .overlay-container {
      @include el($w: 50%);
      background-image: gradient;
      img {
        @include el($w: 100%);
      }
    }
  }
}
