.flex {
  display: flex;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.justify.start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
}
.flex.justify.center {
  justify-content: center;
  -webkit-justify-content: center;
}
.flex.justify.sb {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
}
.flex.justify.sa {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
}
.flex.justify.end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
}
.flex.align.start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
}
.flex.align.center {
  align-items: center !important;
  -webkit-align-items: center !important;
}
.flex.align.end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
}
.flex.column {
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-11 {
  flex: 11;
}

.flex-12 {
  flex: 12;
}

h1,
.heading-1 {
  font-size: 1.5rem;
}

h2 {
  margin: 0.75rem 0;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.link-text {
  color: #2873f0;
}
.link-text:hover {
  color: #03376b;
}

.lighter-text, h4 {
  color: #7d7d7d;
}

.xs-text {
  font-size: 0.65rem;
}

.sm-text {
  font-size: 1.5rem;
  color: #c0c0c0;
}

.small-text, h4 {
  font-size: 0.8rem;
}

.smaller-text {
  font-size: 0.9rem;
}

.big-text {
  font-size: 2rem;
}

.bold-text {
  font-weight: bold;
}

.xl-text {
  font-size: 3.5rem;
}

.success-text {
  color: #2873f0;
}

.error-text {
  color: #e74c3c;
}

.uppercase, h4 {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.primary-font-bold, .big-text {
  font-family: "Averta", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

.primary-font-regular {
  font-family: "Averta", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}

.primary-font-light {
  font-family: "Averta", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

.primary-font-medium {
  font-family: "Averta", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
}

.contact-text {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.contact-text h1 {
  color: #4567f4;
  font-size: 30px;
  /* Chrome all / Safari all */
  /* Firefox all */
  /* IE 10+ */
}
.contact-text p {
  text-align: center;
  color: #888;
  font-size: 14px;
  line-height: 24px;
  /* Chrome all / Safari all */
  /* Firefox all */
  /* IE 10+ */
  margin: 0;
  width: 50%;
}

.contact-form {
  margin-top: 3rem;
  margin-right: 2rem;
  width: 100%;
}
.contact-form button {
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  background: linear-gradient(45deg, #4567f4, #3cd3ad);
  outline: none;
  color: white;
  font-size: 15px;
  /* Chrome all / Safari all */
  /* Firefox all */
  /* IE 10+ */
}
.contact-form button:hover {
  background: linear-gradient(0deg, #4567f4, #3cd3ad);
  color: white;
  transition: all 1s;
}
.contact-form .form-group {
  display: flex;
}
.contact-form .form-group input {
  padding: 0.8rem 0;
  margin-bottom: 1.2rem;
  border: 1px solid #ededef;
  width: 100%;
  border-radius: 3px;
  text-indent: 20px;
  /* Chrome all / Safari all */
  /* Firefox all */
  /* IE 10+ */
  outline: none;
}
.contact-form .form-group input:focus {
  border-color: #4567f4;
}
.contact-form .form-group input:nth-child(1) {
  margin-right: 1.5rem;
}
.contact-form .form-group input::-webkit-input-placeholder {
  color: -internal-light-dark(black, white);
}
.contact-form textarea {
  resize: none;
  text-indent: 1rem;
  padding: 0.8rem 0;
  margin-bottom: 1.2rem;
  border: 1px solid #ededef;
  width: 100%;
  border-radius: 3px;
  outline: none;
}
.contact-form textarea:focus {
  border-color: #4567f4;
}

.contact-info {
  margin: 3rem 0 0 3rem;
}
.contact-info .single-info {
  display: flex;
  margin-bottom: 2rem;
}
.contact-info .single-info i {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 45px;
  /* Chrome all / Safari all */
  /* Firefox all */
  /* IE 10+ */
  background-image: linear-gradient(45deg, #4567f4, #3cd3ad);
}
.contact-info .single-info ul {
  padding: 0;
  margin: 0;
  font-size: 13px;
  /* Chrome all / Safari all */
  /* Firefox all */
  /* IE 10+ */
}
.contact-info .single-info ul li {
  margin-bottom: 4px;
  list-style: none;
}
.contact-info .single-info ul li span {
  font-weight: 600;
  /* Chrome all / Safari all */
  /* Firefox all */
  /* IE 10+ */
}
.contact-info .single-info ul li a {
  text-decoration: none;
  color: #081828;
  font-weight: 500;
  /* Chrome all / Safari all */
  /* Firefox all */
  /* IE 10+ */
}

/*# sourceMappingURL=contact.css.map */
