@import "mixins/element", "mixins/flex", "mixins/font", "mixins/mixins",
  "mixins/text", "mixins/variables";

$primary-color: #4567f4;
$gradient: linear-gradient(0deg, #4567f4, #3cd3ad);
$gradient-button: linear-gradient(45deg, #4567f4, #3cd3ad);
$secondary-color: #081828;

button,
input {
  font-family: "Poppins", sans-serif;
}
button {
  &:hover {
    background: $gradient;
    color: white;
    transition: background-image 1s ease-in-out;
  }
}
body {
  font-family: "Poppins", sans-serif;
  @include el($bgColor: #f5f5f5, $p: 0, $m: 0);
  @include text($color: $secondary-color);
}

header {
  @include el($w: 100%, $h: auto, $bb: 2px solid $primary-color);
  @include fx();

  .logo {
    @include el($mt: 1rem, $mb: 1rem, $p: 0);

    img {
      @include el($w: 15rem);
    }
  }

  .nav {
    @include fx();
    @include flex($jc: fe, $ai: c);
    a {
      @include el($p: 0.75rem 2.5rem);

      @include text($decoration: none, $color: $primary-color, $size: 15px);
      &:hover {
        @include text($color: $primary-color);
      }
    }
    .button {
      background: $gradient-button;
      @include text($color: white);
      @include el($radius: 5px, $p: 0.75rem 1.5rem);
      &:hover {
        background: $gradient;
        color: white;
        transition: background-image 1s ease-in-out;
      }
    }
    .button:not(:last-child) {
      @include el($m: 0 15px 0 15px);
    }
  }
}
@media only screen and (max-width: 1199px) {
  header {
    .nav {
      a {
        @include el($p: 0.75rem 1rem);
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  header {
    .nav {
      a {
        @include text($size: 11px);
      }
    }
    .logo {
      img {
        @include el($w: 10rem);
      }
    }
  }
}
