.profile-content {
    padding: 0 0 2rem 2rem;
}

.form-group {
    margin-top: 2rem;
}

.form-group input {
    height: 55px;
    outline: none;
    line-height: 55px;
    width: 100%;
    border: 2px solid #eee;
    padding: 0px 20px;
    color: #333;
    border-radius: 0px;
    font-weight: 400;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 10px #00000014;
    box-shadow: 0px 0px 10px #00000014;
}

.form-group textarea {
    height: 180px;
    width: 100%;
    border: 2px solid #eee;
    padding: 15px 20px;
    color: #333;
    border-radius: 0px;
    resize: none;
    font-weight: 400;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 10px #00000014;
    box-shadow: 0px 0px 10px #00000014;
}

.update {
    margin-top: 2rem;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    background: linear-gradient(45deg, #4567f4, #3CD3AD);
    color: #fff;
    border: none;
    border-radius: 6px;
}
