.our-achievement {
    background: linear-gradient(45deg, #4567f4, #3CD3AD);
    position: relative;
    z-index: 1;
}

.our-achievement::before {
    position: absolute;
    content: "";
    left: 0;
    top: -10px;
    height: 110%;
    width: 110%;
    background-image: url("../images/video/video-overlay.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.our-achievement .single-achievement i {
    color: #4567f4;
}

.our-achievement .single-achievement {
    margin: 20px 0 20px;
    text-align: center;
}

.our-achievement .single-achievement i {
    font-size: 22px;
    margin-bottom: 15px;
    height: 45px;
    width: 45px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background: #fff;
    color: #6831e3;
    border-radius: 10px;
}

.our-achievement .single-achievement h3 {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

.our-achievement .single-achievement p {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}
