.our-achievement {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.our-achievement .single-achievement i {
    color: #4567f4;
}

.our-achievement .single-achievement {
    margin: 20px 0 20px;
    text-align: center;
}

.our-achievement .single-achievement i,
.calculator i {
    font-size: 22px;
    margin-bottom: 15px;
    height: 45px;
    width: 45px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border: 1px solid #4567f4;
    color: #4567f4;
    border-radius: 10px;
}

.our-achievement .single-achievement h3,
.calculator h3 {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.our-achievement .single-achievement p,
.calculator p {
    font-size: 12px;
    color: #333;
    font-weight: 600;
}

.our-achievement.applicant {
    margin-top: 10rem;
}

.common {
    display: flex
}

.calculator {
    display: flex;
    margin-top: 2rem;
}

.calculator-head p {
    margin-top: 1rem;
}

.calculator .single-achievement {
    display: none;
    text-align: center;
}

.form-group input {
    height: 55px;
    outline: none;
    line-height: 55px;
    width: 90%;
    border: 2px solid #eee;
    padding: 0px 20px;
    color: #333;
    border-radius: 0px;
    font-weight: 400;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 10px #00000014;
    box-shadow: 0px 0px 10px #00000014;
}

.calculate {
    margin-top: 2rem;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    background: linear-gradient(45deg, #4567f4, #3CD3AD);
    color: #fff;
    border: none;
    border-radius: 6px;
}