.flex {
    display: flex;
}
.flex.wrap {
    flex-wrap: wrap;
}
.flex.justify.start {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
}
.flex.justify.center {
    justify-content: center;
    -webkit-justify-content: center;
}
.flex.justify.sb {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
}
.flex.justify.sa {
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
}
.flex.justify.end {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
}
.flex.align.start {
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
}
.flex.align.center {
    align-items: center !important;
    -webkit-align-items: center !important;
}
.flex.align.end {
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
}
.flex.column {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}

.flex-11 {
    flex: 11;
}

.flex-12 {
    flex: 12;
}
